.about{
    background-color:#06121E;
    overflow: hidden;
    color: white;

}

.aboutcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:14px;
    padding: 34px 14px 64px 14px;

    img{
        max-width: 570px;
    }
}

.aboutcontent div{
    flex:1;
}

.aboutdescrption{
    h2{
        font-size: 38px;
        margin-bottom: 24px;
    }

    p{
        margin-bottom: 14px;
        line-height: 150%;
    }
}

@media screen and (max-width: 768px) {
    .aboutcontent{
        flex-direction: column;
    }
}